@model Library.Models.Catalog.AssetDetailModel
<div>
    <div class="row">
        <div class="DetailImage">
            <img src="@Model.ImageUrl"/>
        </div>
        <div class="col-md-4">
            <p>@Model.Title</p>
            <p>@Model.AuthorOrDirector</p>
            <p>@Model.Status</p>
            <p>@Model.Year</p>
            <p>@Model.Type</p>
            <p>@Model.CurrentLocation</p>

        </div>
    </div>
</div>