 
@model Library.Models.Catalog.AssetIndexModel
 

<div id="Assets">
    <h3>Library Catalog</h3>
    <div id="assetsTable">
        <table>
            <thead>
                <tr>
                    <th>Image </th>                    
                    <th>Title</th>
                    <th>Director/Authot</th>
                    <th>Dewey Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr>
                        <td>
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.id" >
                                <img src="@asset.ImageUrl" style="height:100px;width:100px" />
                            </a>
                        </td>
                       
                        <td>@asset.Title</td>
                        <td>@asset.AuthorOrDirector</td>
                        <td>@asset.DeweyCallNumber</td>
                        
                    </tr>
                    
                }

            </tbody>
        </table>
    </div>
</div>